---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a student currently studying at Goldsmiths with a keen interest in technology, computer science, music and the intersection between these disciplines. This includes experience in audio-visual programming languages such as Max MSP, Jitter, OpenGL and Open Frameworks - utilising these to solve unique problems such as spectral audio analysis and its application in machine learning.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Electronic Music, Computing and Technology BSc (Hons)"
      subtitle="2020 to 2023 at Goldsmiths, University of London"
    />
    <TimeLineElement
      title="Electronic Music Production (Foundation Year)"
      subtitle="2019 to 2020 at University of West London"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Specialist at Apple"
      subtitle="From 2022 to Present"
      desc=""
    />
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Producer, Mixer, Mastering Engineer"
      subtitle="From 2012 to Present"
      desc="I have worked with a variety of labels on many music projects in a variety of genres"
    />
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>React</li>
    <li>Vue</li>
    <li>Tensorflow</li>
    <li>Keras</li>
    <li>Scikit-learn</li>
    <li>DevOps</li>
    <li>Docker</li>
    <li>Rust</li>
    <li>Go</li>
    <li>Max MSP</li>
    <li>Music Production</li>
    <li>Ableton Live</li>
    <li>Mixing</li>
    <li>Mastering</li>
    <li>Sound Design</li>
    <li>Full-Stack Web Development</li>
  </ul>
</BaseLayout>
