---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

  <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js"></script>

    <div class="pb-12 mt-5 flex flex-col justify-center">
      <!-- <div class="text-xl py-1">Hey there 👋</div> -->
      <div class="text-5xl font-bold "><p>Matthew Holloway</p></div>
      <div class="text-3xl py-3 font-bold">Developer, Musician, Producer and Audiovisual Artist</div>
      <div class="py-2">
        <text class="text-lg ">
          I am a student currently studying at Goldsmiths with a keen interest in technology, computer science, music and the intersection between these disciplines. This includes experience in audio-visual programming languages such as Max MSP, Jitter, OpenGL and Open Frameworks - utilising these to solve unique problems such as spectral audio analysis and its application in machine learning.
          </text
        >
      </div>
      <div class="py-2">
        <text class="text-lg">
          On the left hand side of this website you will find a portfolio of my most complete projects. I do not generally use social media for public communications, so please contact me via email for any enquiries
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="mailto:mattdholloway@pm.me" target="_blank"> Contact me</a>
        <a href="/cv" class="btn btn-outline ml-5"> View my CV</a>
      </div>
      
      <!-- <div class="divider my-0"></div> -->
      <!-- <div class="py-2">
        <img src="/home_img.png" height="25%" width="25%">
      </div> -->
    </div>


    <!-- <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0"></div>
      ))
    } -->

</BaseLayout>
