---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Music">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Music</div>
  </div>

  <div class="mb-10">
    Over the years, I have released a lot of music in many different locations around the internet and under a few different aliases. Here is a collection of most of it, some additional works not listed below can be found in the following places...
    <div class="divider my-0"></div>

    <div class="text-1xl w-full"><b>200M2000</b> - <a href="https://200m2000.bandcamp.com/" target="_blank" class="text-sky-400 after:content-['_↗'] ...">Bandcamp</a> <a href="https://soundcloud.com/200m2000" target="_blank" class="text-sky-400 after:content-['_↗'] ...">Soundcloud</a></div>

    <div class="text-1xl w-full"><b>Glass Locus</b> - <a href="https://glasslocus.bandcamp.com/" target="_blank" class="text-sky-400 after:content-['_↗'] ...">Bandcamp</a> <a href="https://soundcloud.com/glasslocus" class="text-sky-400 after:content-['_↗'] ...">Soundcloud</a></div>

    <div class="text-1xl w-full"><b>HEXIC</b> - <a href="https://hexicdnb.bandcamp.com/" target="_blank" class="text-sky-400 after:content-['_↗'] ...">Bandcamp</a> <a href="https://soundcloud.com/hexicdnb" target="_blank" class="text-sky-400 after:content-['_↗'] ...">Soundcloud</a></div>

  </div>

  <div>
    <div class="w-full mb-5"><b class="text-2xl">Works</b><p>Click to buy/stream</p></div>
  </div>

  <HorizontalCard
    title="200M2000 - Live Album"
    img=""
    desc="Self-released (Upcoming)"
    badge="ALBUM"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="200M2000 - WHERE YOU CAME FROM"
    img="https://f4.bcbits.com/img/a1264020134_10.jpg"
    desc="Self-released (2022)"
    url="https://200m2000.bandcamp.com/album/where-you-came-from"
    badge="EP"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="200M2000 - A1"
    img="https://f4.bcbits.com/img/a4243290919_10.jpg"
    desc="Self-released (2022)"
    url="https://200m2000.bandcamp.com/album/a1"
    badge="EP"
  />
  <p style="padding-left: 25px;">A noisy, distorted sound collage that serves as first release under my current working alias 200M2000
  </p>
  <br>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Glass Locus - AUGUST / EASTERN"
    img="https://s3.amazonaws.com/gather.fandalism.com/3000x3000-1001090--2EA305F6-D485-459E-AA60DAB4376A3B36--1631958217451--IMG3237.jpg"
    desc="Self-released (2021)"
    url="https://distrokid.com/hyperfollow/glasslocus/august--eastern"
    badge="SINGLE"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Glass Locus - Leaving"
    img="https://f4.bcbits.com/img/a0928591114_10.jpg"
    desc="Released by Audiobulb (2021)"
    url="https://audiobulb.bandcamp.com/track/leaving"
    badge="SINGLE"
  />
  <p style="padding-left: 25px;">Originally released as the closing track on Freefall, but re-released for Audiobulb 100
  </p>
  <br>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Glass Locus - Freefall"
    img="https://f4.bcbits.com/img/a1163195109_10.jpg"
    desc="Self-released (2020)"
    url="https://distrokid.com/hyperfollow/glasslocus1/freefall-2"
    badge="ALBUM"
  />
  <p style="padding-left: 25px;">This album was the penultimate release as Glass Locus and served as a painstaking effort to bring together tracks that had been
    in the works for many years
  </p>
  <br>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Glass Locus - Dawn, Pt. 1"
    img="https://s3.amazonaws.com/gather.fandalism.com/1305167--30B85099-2471-43DB-8FB24C0AB35A82F1--1561325927600--DawnPt1.jpg"
    desc="Released by Soul Canvas (2019)"
    url="https://distrokid.com/hyperfollow/glasslocus1/dawn-pt-1-2"
    badge="EP"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Tarune - In the Halls (Glass Locus Remix)"
    img="https://s3.amazonaws.com/gather.fandalism.com/3000x3000-1305167--48AC48F0-900E-458D-B44082EBA00BFE01--1589715632536--TaruneInTheHalls.jpg"
    desc="Released by Soul Canvas (2018)"
    url="https://distrokid.com/hyperfollow/tarune/in-the-halls"
    badge="REMIX"
  />
  <p style="padding-left: 25px;">A remix commisioned for my labelmate and good friend, Tarune
  </p>
  <br>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Glass Locus - Circular (on Tour De Traum XVI)"
    img="https://i.discogs.com/-UuihkCd8aq9WQAnSQW7E9UppECvVpbWuoa0gt71598/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEzMzM2/MjYyLTE1NTIzMDc5/ODUtMjE1Ni5qcGVn.jpeg"
    desc="Released by Traum Schallplatten (2018)"
    url="https://open.spotify.com/track/1VSxgHbUauhpVRnZKtiAE5?si=0f5cd512da9c4a5f"
    badge="COMPILATION"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="HEXIC - MATRIX"
    img="https://f4.bcbits.com/img/a1524645901_10.jpg"
    desc="Self-released (2018)"
    url="https://hexicdnb.bandcamp.com/album/matrix"
    badge="EP"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Glass Locus - Escapism"
    img="https://f4.bcbits.com/img/a1887825798_10.jpg"
    desc="Released by Audiobulb (2018) - Re-issue imminent by Carpe Sonum"
    url="https://glasslocus-ab.bandcamp.com/album/escapism"
    badge="ALBUM"
  />
  <p style="padding-left: 25px;">My de-facto first album. It contains a very pretty set of tracks that extensively make use of granular synthesis and other resampling techniques to generate rhythmically slow and melodically rich textures. I created this album with nothing but a pair of cheap headphones and a reasonably good gaming PC.
  </p>
  <br>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Glass Locus - goodbye"
    img="https://f4.bcbits.com/img/a0756693838_10.jpg"
    desc="Self-released (2017)"
    url="https://glasslocus.bandcamp.com/album/goodbye"
    badge="EP"
  />
  <div class="divider my-0"></div>
  <br>
  <i>Links to older works available on request</i>
  

</BaseLayout>
